<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="icon" href="/img/TFCSC-LOGO.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content  outer-wrap">
            {{>header}}
            <section class="content layer2">
                <div class="content-wrap about">

                    
                     <dl>
                        <div class="col-narrow">
                            <dt><h3>Andrew Semple</h3></dt>
                            <dt class="title">Honarary President and Founder Chairman</dt>
                            <dt><img class="dp" src="/img/TFCSC-LOGO.png" /></dt>
                        </div>
                        <div class="col-wide desc">
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                        </div>
                        <div class="col-narrow">
                            <dt><h3>Andrew Glinka</h3></dt>
                            <dt class="title">Chairman</dt>
                            <dt><img class="dp" src="/img/glinks.jpeg" /></dt>

                        </div>
                        <div class="col-wide desc">
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                        </div>
                        <div class="col-narrow">
                            <dt><h3>Kevin Burke</h3></dt>
                            <dt class="title">Vice Chairman</dt>
                            <dt><img class="dp" src="/img/burkey.jpeg" /></dt>

                        </div>
                        <div class="col-wide desc">
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                        </div>
                        <div class="col-narrow">
                            <dt><h3>Peter McGrath</h3></dt>
                            <dt class="title">Secretary</dt>
                            <dt><img class="dp" src="/img/muggsy.jpeg" /></dt>

                        </div>
                        <div class="col-wide desc">
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                        </div>
                        <div class="col-narrow">
                            <dt><h3>Colin Booth</h3></dt>
                            <dt class="title">Treasurer</dt>
                            <dt><img class="dp" src="/img/TFCSC-LOGO.png" /></dt>

                        </div>
                        <div class="col-wide desc">
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
                        </div>
                    </dl>
                </div>
            </section>
        </div>

        {{>footer}}
    </body>
</html>