<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="icon" href="/img/TFCSC-LOGO.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/main.js" defer></script>
    </head>
    <body>
            <div class="main-content  outer-wrap">
            {{>header}}
            <section class="content layer2">
                <div class="content-wrap about">
                    <p>Our aim is to support, promote and raise funds for Trafford Football Club. </p>
            
                    <P>The Supporters&#039 Club goals include:</p> 
                
                    <ol>
                        <li>Raising funds for Trafford FC</li>
                        <li>Eaising awareness of the Football Club in the local community</li>
                        <li>Providing a &#039mouthpiece&#039 for the supporters</li>
                        <li>Providing a &#039line of communication&#039 between the supporters&#039 and the Football Club</li>
                        <li>Current project: Building a new stand behind the goal at the Pennybridge Lane End</li>
                    </ol>

                    <p>Be part of Trafford FC, be part of the supporters' club.</p>
                </div>
            </section>
        </div>
        {{>footer}}
    </body>

</html>