<footer>
    <p>Created by {{name}}</p>
    <div id="socials">
        <a href="https://twitter.com/TraffordFCSC" target="_blank"><img src="/img/twitter-logo.png" /></a>
        <a href="https://twitter.com/TraffordFCSC" target="_blank"><img src="/img/facebook-logo.png" /></a>
    </div>
</footer>
