    <header role="banner" id="about" class="layer1">
        <div class="content-wrap header-content-wrap header-footer">
            <div class="col-wide header">
                 <h1>Trafford FC Supporters Club</h1>
                <nav>
                    <ul>
                        <li><a class="nav-link" href="/">Home</a></li>
                        <li><a class="nav-link" href="/about">About Us</a></li>
                        <li><a class="nav-link" href="/join">Join Today</a></li>
                    </ul>
                </nav>
                <h2 class="page-title">{{pageTitle}}</h2>
            </div>
            <img src="/img/TFCSC-LOGO.png" />
        </div>
    </header>

